$primary-bg-color: #ffffff;
$secondary-bg-color: #f6f7f9;
$button-border: #808080;
$button-border-black: #000000;
$buttonRound-color: #2a2a2a99;
$button-background-white: #ffffff;
$secondary: #141414;

$font-color-dark: #000000;

$primary-color: #9c6af9;

@mixin respond($breakpoint) {
  @if $breakpoint==tablet {
    @media (min-width: 768px) and (max-width: 1024px) {
      @content;
    }
  }

  @if $breakpoint==mobile {
    @media screen and (max-width: 768px) {
      @content;
    }
  }
}