@import "../../variables.scss";

.footer {
  background-color: #f0f4f7;
  padding: 40px;

  .container {
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.87;
    margin: 0 auto;

    .copyright {
      color: #748391;
      // font-family: $secondary-font;
    }

    .policyLinks {
      display: flex;
      justify-content: flex-end;

      a {
        font-weight: 400;
        letter-spacing: normal;
        margin-left: 30px;
        line-height: 1.87;
        text-decoration: underline;

        &:hover {
          color: $primary-color;
        }

        // font-family: $secondary-font;
        color: #adadad;
        font-size: 15px;
        color: #748391;

        @include respond(mobile) {
          margin-left: 0;
          margin-right: 20px;
        }
      }
    }
  }
}